<table>
  <thead>
    <tr>
      <th>Saying</th>
      <th>Author</th>
      <th>Actions</th>
  </thead>
  <%= for quote <- @quotes do %>
  <tr>
    <td>
      <a href="<%= quote_path(@conn, :show, quote.id) %>">
        <%= quote.saying %>
      </a>
    </td>
    <td>
      <%= quote.author %>
    </td>
    <td>
      <a href="<%= quote_path(@conn, :edit, quote.id) %>">
        Edit
      </a>
    </td>
  </tr>
  <% end %>

</table>
